body {
  margin: 0px;
  padding: 0px;
	background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

div.header .logo-div {
  background-color: #F25A4A;
  width: 100%;
  height:40px;
  margin-top: 8px;
  position: sticky;
}

ul.nav-links {
  margin-top: 8px;
  padding-right: 15px;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  text-align: right;
  position: fixed;
  /*background-color: black;*/
}

.nav li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80%;
  color: white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav li.hamburger-menu {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 50px;
}

div #hamburger-line {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}

#company-name {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: left;
  width: 80px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.map-div {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.side-container {
  display:inline-block;
  float: left;
  color: white;
  width: 18%;
  margin-left: .8%;
  letter-spacing: 1px;
}

#search-bar #menu-button {
  border-radius: 20px;
}

#search-bar {
  width:235px;
  height:45px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;

}

#menu-button {
  width: 239px;
  height: 50px;
  margin-bottom: 20px;
  border:1px solid #EEEEEE;
  background-color: #EEEEEE;
  border-radius: 5px;

}

#menu-name {
  color: #F25A4A;
}

.drivers-outer {
  margin-top: 47px;
  border:1px solid #EEEEEE;
  width: 239px;
  height: 100px;
  background-color: #EEEEEE;
  border-radius: 3px;
}

#drivers-inner {
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: auto;
  height: 50px;
  color: black;
  font-size: x-small;
}

#drivers-title {
  text-align: center;
  color: #F25A4A;
  font-size: 13px;
}

#icon-div {
  margin-top: 13px;
  padding-right: 0px;
  font-size: 10px;
  float: left;
  display: inline;
  width: 20px;
}

#font {
  position: relative;
  margin-left: 0px;
}

div #no-of-jobs-div {
  width: 100px;
  height: 1px;
  color: red;
  position: absolute;
  font-weight: bold;
  letter-spacing: normal;
  padding-left: 30px;
  padding-top: 10px;
  font-size: small;
  text-align: left;
  background-size: contain;
}

p#sub-font {
  font-size: x-small;
  font-weight: lighter;
  color: grey;
  margin-top: 2px;
}

div #availability-div {
  width: 140px;
  color: black;
  font-weight: bold;
  padding-left: 83px;
  padding-top: 10px;
  font-size: small;
  text-align: right;
  background-size: contain;
  letter-spacing: normal;
}

.jobs-outer {
  margin-top: 15px;
  margin-bottom: 20px;
  border:1px solid #EEEEEE;
  width: 239px;
  height: 150px;
  background-color: #EEEEEE;
  border-radius: 3px;
}

#jobs-inner {
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: auto;
  height: 100px;
  letter-spacing: normal;
}

#jobs-title {
  text-align: center;
  color: #F25A4A;
  font-size: 13px;
}

p#job-number {
  text-align: left;
  font-weight: lighter;
  color: black;
  font-size: 12px;
  padding-left: 2px;
  margin-bottom: 8px;
}

p#destination {
  text-align: left;
  font-size: small;
  color: red;
  font-weight: lighter;
  padding-left: 2px;
  margin-top: 1px;
  margin-bottom: 5px;

}

p#recipient {
  text-align: left;
  font-size: small;
  font-weight: bold;
  color: turquoise;
  padding-left: 2px;
  margin-top: 1px;
  margin-bottom: 5px;
}

p#time-due {
  text-align: left;
  font-size: small;
  color: red;
  padding-left: 2px;
  margin-top: 1px;
  position: absolute;
}

div #status {
  text-align: right;
  font-size: small;
  font-weight: bold;
  color: red;
  padding-top: 1px;
  margin-top: 1px;
  margin-bottom: 5px;
  padding-left: 83px;
  width: 140px;
  background-size: contain;
}

#google-map {
  width:81%;
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .nav li {
    /*text-shadow: 3px 3px turquoise;*/
    font-size: 70%;
  }
  title {
    font-size: 80px;
  }

  #google-map {
    width:100%;
    height: 1000px;
  }


}
